              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Financial Stats</h4>
                  <p class="card-category">As of 10/10/2020</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>Title</th>
                      <th>Type</th>
                      <th>Amount</th>
                    </thead>
                    <tbody>
                    {% for budget in budgets %}
                      <tr>

                        <td>{{ budget.title }}</td>
                        <td>{{ budget.type }}</td>
                        <td>{{ budget.amount }}</td>
                         <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <form  method="POST" action="{% url 'deleteBudget'  budget.id  %}">
                                        {% csrf_token %}
                                        <button type="submit" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </form>
                            </td>

                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
